/* stlye for ganon columns*/
.mystyle {
    border: 2px solid black;
    background-color: rgb(123, 26, 168);
    height:"150px";
}

/* stlye for falcon columns*/
.mystyle1 {
    border: 2px solid black;
    background-color: rgba(179, 75, 28, 0.884);
    height:"150px";
}

/* stlye for ganon columns*/
.mystyle2 {
    border: 2px solid black;
    background-color: rgb(85, 106, 228);
    height:"150px";
}

/* stlye for robin columns*/
.mystyle3 {
    border: 2px solid black;
    background-color: rgb(170, 155, 23);
    height:"150px";
}

/* stlye for ness columns*/
.mystyle4 {
    border: 2px solid black;
    background-color: rgb(160, 0, 0);
    height:"150px";
}
